<ul class="list">
  <li class="performsTest" data-test="testShow">
    show()
  </li>

  <li class="performsTest" data-test="testHide">
    hide()
  </li>

  <li class="performsTest" data-test="testEnableGesture">
    enableGesture()
  </li>

  <li class="performsTest" data-test="testDisableGesture">
    disableGesture()
  </li>

  <li class="performsTest" data-test="testShowWithFullParams">
    ShowWithFullParams()
  </li>

  <li class="performsTest" data-test="testEnableGestureWithFullParams">
    EnableGestureWithFullParams()
  </li>

  <li class="performsTest" data-test="testEnableGestureWithParallax">
    EnableGestureWithParallax()
  </li>

</ul>
