<h1>DRAWER CENTER 2</h1>
<ul class="list">
  <li class="performsTest" data-test="testShowLeft">
    testShowLeft()
  </li>

  <li class="performsTest" data-test="testShowRight">
    testShowRight()
  </li>

  <li class="performsTest" data-test="testHide">
    testHide()
  </li>

  <li class="performsTest" data-test="testEnableAllGestures">
    testEnableAllGestures()
  </li>

  <li class="performsTest" data-test="testDisableGesture">
    testDisableGesture()
  </li>

  <li class="performsTest" data-test="testUpdateWithParameters">
    testUpdateWithParameters()
  </li>

  <li class="performsTest" data-test="testUpdateWithParallax">
    testUpdateWithParallax()
  </li>

  <li class="performsTest" data-test="testShowLeftWithFullParams">
    testShowLeftWithFullParams()
  </li>

</ul>
