<h1>DRAWER CENTER 1</h1>
<ul class="list">
  <h2> Show </h2>
  <li class="performsTest" data-test="testShow">
    testShow() - enables drawers, shows left one as default
  </li>

  <li class="performsTest" data-test="testShowLeft">
    testShowLeft()
  </li>

  <li class="performsTest" data-test="testShowRight">
    testShowRight()
  </li>

  <li class="performsTest" data-test="testShowModal">
    testShowModal()
  </li>

  <li class="performsTest" data-test="testReplaceLayers">
    testReplaceLayers() - replaces center view
  </li>

  <li class="performsTest" data-test="testAddRightButton">
    testAddRightButton()
  </li>

  <li class="performsTest" data-test="testTryToReusePreloadedAsModal">
    testTryToReusePreloadedAsModal()
  </li>

  <h2>Update drawers</h2>
  <li class="performsTest" data-test="testUpdateNonPreloadedDrawerRight">
    Try updating right drawer with a <strong>non-preloaded</strong> WebView. This should fail to do anything.
  </li>

  <li class="performsTest" data-test="testUpdateNonPreloadedDrawerWithIdRight">
    Try updating right drawer with a <strong>non-preloaded</strong> WebView with <code>id</code> property set. This should fail to do anything.
  </li>

  <li class="performsTest" data-test="testUpdatePreloadedDrawerRight">
    Udpate right drawer with a <strong>preloaded</strong> WebView
  </li>

  <h2> Gestures </h2>

  <br/>
  <b>Test these gestures:</b><br/>
  - open/close the drawer by panning (swiping) on the nav bar<br/>
  - open/close the drawer by panning anywhere on the center view<br/>
  - open/close the drawer by panning from the edge of the center view<br/>
  - close the drawer by tapping the navigation bar of the center view<br/>
  - close the drawer by tapping anywhere in the center view<br/>
  - close the drawer by panning anywhere in the drawer view<br/>
  <br/>

  <li class="performsTest" data-test="testEnableAllGestures">
    testEnableAllGestures()
  </li>

  <li class="performsTest" data-test="testDisableGestureViaUpdate">
    testDisableGestureViaUpdate()
  </li>


  <h2>Styling</h2>

  <li class="performsTest" data-test="testHideShadow">
    Hide shadow between drawer and center view
  </li>

  <li class="performsTest" data-test="testShowShadow">
    Show shadow between drawer and center view
  </li>


  <h2> Sizes </h2>
  <li class="performsTest" data-test="testUpdateWithWidthOfLayerInPixels">
    Test different pixel width layer
  </li>

  <li class="performsTest" data-test="testDiffSizes">
    Test different pixel width drawers
  </li>

  <li class="performsTest" data-test="testStretchDrawer">
    Test Drawer Stretch (pull on drawers to see effect)
  </li>

  <li class="performsTest" data-test="testDefaultSizes">
    Reset sizes of drawers and layer and no stretch
  </li>


  <h2> Animations </h2>
  <li class="performsTest" data-test="testUpdateWithSlideAndScale">
    testUpdateWithSlideAndScale()
  </li>
  <li class="performsTest" data-test="testUpdateWithSwingingDoor">
    testUpdateWithSwingingDoor()
  </li>
  <li class="performsTest" data-test="testUpdateWithParallax">
    testUpdateWithParallax() - default
  </li>


  <h2> Legacy Backwards Compatibility </h2>
  <li class="performsTest" data-test="testLegacyEnableGesture">
    testLegacyEnableGesture()
  </li>

  <li class="performsTest" data-test="testLegacyEnableGestureShorthand">
    testLegacyEnableGestureShorthand()
  </li>

  <li class="performsTest" data-test="testLegacyDisableGesture">
    testLegacyDisableGesture()
  </li>

</ul>
