<h2>DRAWER CENTER 1</h2>
<p><b>Remember to also test loading drawer from config/application.coffee!</b></p>
<div class="list">
  <h2> Show </h2>
  <a class="performsTest item item-text-wrap" data-location="testShow">
    testShow() - enables drawers, shows left one as default
  </a>

  <a class="performsTest item item-text-wrap" data-location="testShowLeft">
    testShowLeft()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testShowRight">
    testShowRight()
  </a>

  <h2> Enable / Disable sides</h2>
  <a class="performsTest item item-text-wrap" data-location="testDisableLeftDrawer">
    Left - testDisableLeftDrawer()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testEnableLeftDrawer">
    Left - testEnableLeftDrawer()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testDisableRightDrawer">
    Right - testDisableRightDrawer()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testEnableRightDrawer">
    Right - testEnableRightDrawer()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testShowAndHide">
    testShowAndHide() - shows a drawer and hides it after 1000ms timeout
  </a>

  <a class="performsTest item item-text-wrap" data-location="testShowModal">
    testShowModal()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushLayer">
    testPushLayer()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testReplaceLayers">
    testReplaceLayers() - replaces center view
  </a>

  <a class="performsTest item item-text-wrap" data-location="testAddRightButton">
    testAddRightButton()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testTryToReusePreloadedAsModal">
    testTryToReusePreloadedAsModal()
  </a>

  <h2>Update drawers</h2>
  <a class="performsTest item item-text-wrap" data-location="testUpdateNonPreloadedDrawerRight">
    Try updating right drawer with a <strong>non-preloaded</strong> WebView. This should fail to do anything.
  </a>

  <a class="performsTest item item-text-wrap" data-location="testUpdateNonPreloadedDrawerWithIdRight">
    Try updating right drawer with a <strong>non-preloaded</strong> WebView with <code>id</code> property set. This should fail to do anything.
  </a>

  <a class="performsTest item item-text-wrap" data-location="testUpdatePreloadedDrawerRight">
    Udpate right drawer with a <strong>preloaded</strong> WebView
  </a>

  <h2> Gestures </h2>

  <br/>
  <b>Test these gestures:</b><br/>
  - open/close the drawer by panning (swiping) on the nav bar<br/>
  - open/close the drawer by panning anywhere on the center view<br/>
  - open/close the drawer by panning from the edge of the center view<br/>
  - close the drawer by tapping the navigation bar of the center view<br/>
  - close the drawer by tapping anywhere in the center view<br/>
  - close the drawer by panning anywhere in the drawer view<br/>
  <br/>

  <a class="performsTest item item-text-wrap" data-location="testEnableAllGestures">
    testEnableAllGestures()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testDisableGestureViaUpdate">
    testDisableGestureViaUpdate()
  </a>


  <h2>Styling</h2>

  <a class="performsTest item item-text-wrap" data-location="testHideShadow">
    Hide shadow between drawer and center view
  </a>

  <a class="performsTest item item-text-wrap" data-location="testShowShadow">
    Show shadow between drawer and center view
  </a>

  <a class="performsTest item item-text-wrap" data-location="testScrimColor">
    set visible ScrimColor
  </a>

  <a class="performsTest item item-text-wrap" data-location="testNoScrimColor">
    set invisible/transparent ScrimColor
  </a>

  <a class="performsTest item item-text-wrap" data-location="testInvalidScrimColor">
    set invalid color string to ScrimColor
  </a>

  <h2> Sizes </h2>
  <a class="performsTest item item-text-wrap" data-location="testUpdateWithWidthOfLayerInPixels">
    Test different pixel width layer
  </a>

  <a class="performsTest item item-text-wrap" data-location="testDiffSizes">
    Test different pixel width drawers
  </a>

  <a class="performsTest item item-text-wrap" data-location="testStretchDrawer">
    Test Drawer Stretch (pull on drawers to see effect)
  </a>

  <a class="performsTest item item-text-wrap" data-location="testDefaultSizes">
    Reset sizes of drawers and layer and no stretch
  </a>


  <h2> Animations </h2>
  <a class="performsTest item item-text-wrap" data-location="testUpdateWithSlideAndScale">
    testUpdateWithSlideAndScale()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testUpdateWithSwingingDoor">
    testUpdateWithSwingingDoor()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testUpdateWithParallax">
    testUpdateWithParallax() - default
  </a>


  <h2> Legacy Backwards Compatibility </h2>
  <a class="performsTest item item-text-wrap" data-location="testLegacyEnableGesture">
    testLegacyEnableGesture()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testLegacyEnableGestureShorthand">
    testLegacyEnableGestureShorthand()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testLegacyDisableGesture">
    testLegacyDisableGesture()
  </a>

</div>
