
<h2>Left</h2>
<div class="list">


  <a class="performsTest item item-text-wrap" data-location="testHide">
    testHide()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testShowRight">
    Show right
  </a>

  <a class="performsTest item item-text-wrap" data-location="testShowModal">
    testShowModal()
  </a>

  <h2>Center view replacing</h2>

  <a class="performsTest item item-text-wrap" data-location="testHideWithCenter2">
    Replace the center layer to preloaded center 2
  </a>

  <a class="performsTest item item-text-wrap" data-location="testHideWithCenter1">
    Replace the center layer to preloaded center 1
  </a>

  <a class="performsTest item item-text-wrap" data-location="testHideWithNonPreloadedCenter1">
    Replace the center layer to non-preloaded center 1
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushLayer">
    testPushLayer()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testReplaceLayers">
    testReplaceLayers()
  </a>

  <h2>Events</h2>
  <a class="performsTest item item-text-wrap" data-location="testWillShowChangeEvent">
    testWillShowChangeEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testDidShowChangeEvent">
    testDidShowChangeEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testWillCloseChangeEvent">
    testWillCloseChangeEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testDidCloseChangeEvent">
    testDidCloseChangeEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRemoveShowEvents">
    testRemoveShowEvents
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRemoveCloseEvents">
    testRemoveCloseEvents
  </a>

</div>
