
<h1>Left</h1>
<ul class="list">


  <li class="performsTest" data-test="testHide">
    testHide()
  </li>

  <li class="performsTest" data-test="testHideWithFullChangeCenter1">
    FullChange - replace the center -> Drawer Center 1
  </li>

  <li class="performsTest" data-test="testHideWithFullChangeCenter2">
    FullChange - replace the center -> Drawer Center 2
  </li>

  <li class="performsTest" data-test="testShowRight">
    Show right
  </li>

  <li class="performsTest" data-test="testShowModal">
    testShowModal()
  </li>

  <h1>Events</h1>
  <li class="performsTest" data-test="testWillShowChangeEvent">
    testWillShowChangeEvent
  </li>
  <li class="performsTest" data-test="testDidShowChangeEvent">
    testDidShowChangeEvent
  </li>
  <li class="performsTest" data-test="testWillCloseChangeEvent">
    testWillCloseChangeEvent
  </li>
  <li class="performsTest" data-test="testDidCloseChangeEvent">
    testDidCloseChangeEvent
  </li>
  <li class="performsTest" data-test="testRemoveShowEvents">
    testRemoveShowEvents
  </li>
  <li class="performsTest" data-test="testRemoveCloseEvents">
    testRemoveCloseEvents
  </li>

  <li class="performsTest" data-test="testLayersPush">
    testLayersPush
  </li>

</ul>
