
<h1>Right</h1>
<ul class="list">

  <li class="performsTest" data-test="testHide">
    testHide()
  </li>

  <li class="performsTest" data-test="testShowLeft">
    Show left
  </li>

  <h2>Center view replacing</h2>

  <li class="performsTest" data-test="testHideWithCenter2">
    Replace the center layer to preloaded center 2
  </li>

  <li class="performsTest" data-test="testHideWithCenter1">
    Replace the center layer to preloaded center 1
  </li>

  <li class="performsTest" data-test="testHideWithNonPreloadedCenter1">
    Replace the center layer to non-preloaded center 1
  </li>

  <li class="performsTest" data-test="testPushLayer">
    testPushLayer()
  </li>

  <li class="performsTest" data-test="testReplaceLayers">
    testReplaceLayers()
  </li>

  <h2>More drawer tests in left drawer</h2>

</ul>
