
<h2>Right</h2>
<div class="list">

  <a class="performsTest item item-text-wrap" data-location="testHide">
    testHide()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testShowLeft">
    Show left
  </a>

  <a class="performsTest item item-text-wrap" data-location="testScrollParams">
    testScrollParams() - beter scroll
  </a>

  <a class="performsTest item item-text-wrap" data-location="testScrollParams2">
    testScrollParams2() - beter drawer movement
  </a>

  <h2>Center view replacing</h2>

  <a class="performsTest item item-text-wrap" data-location="testHideWithCenter2">
    Replace the center layer to preloaded center 2
  </a>

  <a class="performsTest item item-text-wrap" data-location="testHideWithCenter1">
    Replace the center layer to preloaded center 1
  </a>

  <a class="performsTest item item-text-wrap" data-location="testHideWithNonPreloadedCenter1">
    Replace the center layer to non-preloaded center 1
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushLayer">
    testPushLayer()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testReplaceLayers">
    testReplaceLayers()
  </a>

  <h2>More drawer tests in left drawer</h2>

</div>
