<div class="list">

  <h2>Allowed Rotation / Orientation</h2>
  <a class="performsTest item item-text-wrap" data-location="testAllowPortraitUpsideDown">
    testAllowPortraitUpsideDown
  </a>
  <a class="performsTest item item-text-wrap" data-location="testAllowPortrait">
    testAllowPortrait
  </a>
  <a class="performsTest item item-text-wrap" data-location="testAllowLandscapeLeft">
    testAllowLandscapeLeft
  </a>
  <a class="performsTest item item-text-wrap" data-location="testAllowLandscapeRight">
    testAllowLandscapeRight
  </a>
  <a class="performsTest item item-text-wrap" data-location="testAllowAll">
    testAllowAll rotations
  </a>
  <a class="performsTest item item-text-wrap" data-location="testAllowAllWithDegrees">
    testAllowAllWithDegrees 
  </a>

  <h2>Rotation / Orientation</h2>
  <a class="performsTest item item-text-wrap" data-location="testRotatePortrait">
    testRotatePortrait
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRotatePortraitUpsideDown">
    testRotatePortraitUpsideDown
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRotateLandscapeLeft">
    testRotateLandscapeLeft
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRotateLandscapeRight">
    testRotateLandscapeRight
  </a>

  <h2>Legacy setAllowedRotations API</h2>

  <a class="performsTest item item-text-wrap" data-location="testLegacyAllowRotation0">
    Set allowed rotations to portrait. Will not auto-rotate the screen.
  </a>

  <a class="performsTest item item-text-wrap" data-location="testLegacyAllowRotation90">
    Set allowed rotations to landscape right. Will not auto-rotate the screen.
  </a>

  <a class="performsTest item item-text-wrap" data-location="testLegacyAllowRotationAll">
    Set allowed rotations to all orientations.
  </a>

  <a class="performsTest item item-text-wrap" data-location="testLegacyAllowRotationHorizontal">
    Set allowed rotations to horizontal rotations. Will not auto-rotate the screen.
  </a>

  <a class="performsTest item item-text-wrap" data-location="testLegacyAllowRotationVertical">
    Set allowed rotations to vertical rotations. Will not auto-rotate the screen.
  </a>

  <h2>Legacy steroids.view.rotateTo API</h2>

  <a class="item item-text-wrap"><em>Note: these will not work if the target rotation is not among allowed rotations.</em></a>

  <a class="performsTest item item-text-wrap" data-location="testLegacyRotateToNeg90">
    Rotate screen to landscape left.
  </a>

  <a class="performsTest item item-text-wrap" data-location="testLegacyRotateTo180">
    Rotate screen to upside-down portrait.
  </a>

  <a class="performsTest item item-text-wrap" data-location="testLegacyRotateTo0">
    Rotate screen to portrait.
  </a>

  <a class="performsTest item item-text-wrap" data-location="testLegacyRotateTo90">
    Rotates screen to landscape right.
  </a>

</div>
