<script src="../../javascripts/sqliteplugin.js"></script>

<script src="../../javascripts/persistencejs/lib/persistence.js"></script>
<script src="../../javascripts/persistencejs/lib/persistence.store.sql.js"></script>
<script src="../../javascripts/persistencejs/lib/persistence.store.websql.js"></script>

<script>
    steroids.debugEnabled = true;
</script>

<div class="list">

  <a class="performsTest item item-text-wrap" data-location="testPersistenceOverrideNativeSQL">
    window.openDatabase = window.sqlitePlugin.openDatabase
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPersistenceJSConfigure">
    persistence.js configure
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPersistenceJSDefineTask">
    define Task + createTable
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPersistenceJSDropTestDB">
    drop table "Task"
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPersistenceJSInsertTask">
    insert Task
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPersistenceJSListAllTasks">
    Task.all()
  </a>

</div>