<script src="../../javascripts/sqliteplugin.js"></script>
<script>
    steroids.debugEnabled = true;
</script>
<div class="list">

  <a class="performsTest item item-text-wrap" data-location="testSQLiteDB">
    new SQLiteDB("cars")
  </a>

  <a class="performsTest item item-text-wrap" data-location="testSQLiteDBDropTable">
    sqlitedb.dropTable("cars")
  </a>

  <a class="performsTest item item-text-wrap" data-location="testSQLiteDBCreateTable">
    sqlitedb.createTable({
      name: "cars",
      columns: {
        car_id: "integer",
        name: "text",
        description: "text",
        img: "blob",
        price: "real"
      }
    }, {
      onSuccess: function() {
        alert("Created table");
      },
      onFailure: function() {
        alert("Failed creating table");
      }
    });
  </a>

  <a class="performsTest item item-text-wrap" data-location="testSQLiteDBexecute">
    INSERT + COUNT
  </a>

  <a class="opensLayer item item-text-wrap" data-location="views/data/sqliteImmediate.html">
    Start tests without actions
    
  </a>


</div>