<script src="../../javascripts/sqliteplugin.js"></script>
<script>
    steroids.debugEnabled = true;
</script>
<ul class="list">

  <li class="performsTest" data-test="testSQLiteDB">
    new SQLiteDB("cars")
  </li>

  <li class="performsTest" data-test="testSQLiteDBDropTable">
    sqlitedb.dropTable("cars")
  </li>

  <li class="performsTest" data-test="testSQLiteDBCreateTable">
    sqlitedb.createTable({
      name: "cars",
      columns: {
        car_id: "integer",
        name: "text",
        description: "text",
        img: "blob",
        price: "real"
      }
    }, {
      onSuccess: function() {
        alert("Created table");
      },
      onFailure: function() {
        alert("Failed creating table");
      }
    });
  </li>

  <li class="performsTest" data-test="testSQLiteDBexecute">
    INSERT + COUNT
  </li>

  <li class="opensLayer" data-location="views/data/sqliteImmediate.html">
    Start tests without actions
    <span class="chevron"/>
  </li>


</ul>