<h1>steroids</h1>

<ul class="list">
  <li class="opensLayer" data-location="/views/analytics/index.html">
    analytics
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/audio/index.html">
    audio
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/animation/index.html">
    Animation
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/app/index.html">
    app
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/data/index.html">
    data
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/device/index.html">
    device
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/drawers/index.html">
    drawers
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/events/index.html">
    Events
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/file/index.html">
    File
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/layers/index.html">
    layers
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/logger/index.html">
    logger
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/modal/index.html">
    modal
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/notifications/index.html">
    notifications
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/steroids/openurl.html">
    openURL
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/postmessage/index.html">
    window.postMessage
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/screen/index.html">
    screen
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/splashscreen/index.html">
    splashscreen
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/statusbar/index.html">
    statusBar
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/tabbar/index.html">
    tabBar
    <span class="chevron"/>
  </li>
  <li class="opensLayer" data-location="/views/views/index.html">
    views
    <span class="chevron"/>
  </li>

</ul>


<ul class="list">
  <li class="performsTest" data-test="testSteroidsDefined">
    <code>steroids</code> defined?
  </li>

  <li class="performsTest" data-test="testCordovaDefined">
    <code>cordova</code> defined?
  </li>
</ul>

