<div class="list" id="ready" style="min-height: 3.5em;">
</div>

<h2>Steroids</h2>

<h3>Views</h3>

<div class="list">
  <a class="opensLayer item item-text-wrap" data-location="/views/initview/index.html">
    Initial View
  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/layers/index.html">
    layers

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/navigationbar/index.html">
    Navigation Bar

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/views/index.html">
    views
  </a>
</div>

<h3>Native UI</h3>

<div class="list">
  <a class="opensLayer item item-text-wrap" data-location="/views/animation/index.html">
    Animation
  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/drawers/index.html">
    drawers
  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/modal/index.html">
    modal
  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/tabbar/index.html">
    tabBar
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShowSpinnerBlockingApp">
    Spinner (Blocking App)
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShowSpinnerBlockingWebView">
    Spinner (Blocking Webview)
  </a>
</div>

<h3>App and Device</h3>

<div class="list">
  <a class="opensLayer item item-text-wrap" data-location="/views/app/index.html">
    app

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/device/index.html">
    device

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/keyboard/index.html">
    keyboard

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/steroids/openurl.html">
    openURL

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/screen/index.html">
    screen

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/splashscreen/index.html">
    splashscreen

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/statusbar/index.html">
    statusBar

  </a>
</div>

<h3>Other</h3>

<div class="list">
  <a class="opensLayer item item-text-wrap" data-location="/views/events/index.html">
    Events

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/logger/index.html">
    logger

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/notifications/index.html">
    notifications

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/postmessage/index.html">
    window.postMessage

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/plugin/nativeinput.html">
    Native Input
  </a>
</div>

<h3>Legacyish</h3>

<div class="list">
  <a class="opensLayer item item-text-wrap" data-location="/views/analytics/index.html">
    analytics

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/audio/index.html">
    audio

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/data/index.html">
    data

  </a>
  <a class="opensLayer item item-text-wrap" data-location="/views/file/index.html">
    File

  </a>
</div>

<h3>Diagnosis tools</h3>

<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testSteroidsDefined">
    <code>steroids</code> defined?
  </a>

  <a class="performsTest item item-text-wrap" data-location="testCordovaDefined">
    <code>cordova</code> defined?
  </a>
  <a class="performsTest item item-text-wrap" data-location="testJSCoreBridgeImplDefined">
    <code>__JSCoreBridgeImpl</code> defined?
  </a>
  <a class="performsTest item item-text-wrap" data-location="testReloadPage">
    Reload Page
  </a>

  <a class="performsTest item item-text-wrap" data-location="testSendMessage">
    Send postMessage (for init view push testing)
  </a>

</div>
