* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input, textarea, [contenteditable] * {
  -webkit-user-select: auto;  /* Allow selection for input elements and those with contenteditable attribute */
}

.content-padded {
  padding: 10px;
}
