<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testListenMessages">
    start listening for messages
  </a>
</div>
<br><br>

<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testSendingUncommonCharacters">
    send message with uncommon characters
  </a>
</div>
<br><br>


<div class="list">
  <a class="opensLayer item item-text-wrap" data-location="/views/postmessage/other.html">
    open a new window to send messages
    
  </a>
</div>

<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testPushLayerAndSendMessage">
    preload & push a new layer and send it postmessages it should receive
  </a>
</a>
