<h1>Postmessage sender</h1>

<p>This view sends the postMessages to the previous view. Please go back to the previous view to see that the messages have arrived.</p>
<br>
<ul class="list">
  <li class="performsTest item" data-test="testSendHello">
    Send hello to other view
  </li>
</ul>
<br><br>
<h2>Postmessage stress tests</h2>
<p>If there's suspicion using excessive postMessages would cause crashes etc, please run the stresstest from below.</p>
<br>
<ul class="list">
  <li class="performsTest item" data-test="testStressSpamPostMessages">
    Send 500 postMessages to listening view
  </li>
</ul>


