[submodule "bower"]
	path = bower
	url = git@github.com:steroidsjs/steroids-js.git
[submodule "testApp/www/javascripts/persistencejs"]
	path = testApp/www/javascripts/persistencejs
	url = git://github.com/zefhemel/persistencejs.git
[submodule "testSpecApp"]
	path = testSpecApp
	url = git@github.com:AppGyver/steroids-js-testSpecApp.git
