<script>
function openSpec(specName) {
  view = new steroids.views.WebView("/views/tests/"+specName+".html");
  steroids.layers.push(view);
}
steroids.navigationBar.show("Steroids Automated Tests");
</script>

<br/><br/> <!-- sry -->

<button class="button button-block button-balanced" onClick="openSpec('all')">
  All non-legacy tests
</button>

<button class="button button-block" onClick="openSpec('analytics')">
  Analytics
</button>

<button class="button button-block" onClick="openSpec('animations')">
  Animations
</button>

<button class="button button-block" onClick="openSpec('device')">
  Device
</button>

<button class="button button-block" onClick="openSpec('layers')">
  Layers
</button>

<button class="button button-block" onClick="openSpec('rotations')">
  Rotations
</button>

<button class="button button-block" onClick="openSpec('splashscreen')">
  Splashscreen
</button>

<button class="button button-block" onClick="openSpec('visibilitychange')">
  visibilitychange
</button>
