<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testAddVisibilitychangeEvent">
    document.addEventListener("visibilitychange", cb)
  </a>
  <a class="performsTest item item-text-wrap" data-location="testPreloadVisibilityChange">
    preload + visibilitychange
  </a>
  <a class="performsTest item item-text-wrap" data-location="testPrerenderVisibilityIsHidden">
    preload initial visibility == "hidden"
  </a>
  <a class="performsTest item item-text-wrap" data-location="testInModal">
    open modal
  </a>
  <a class="performsTest item item-text-wrap" data-location="testCurrentVisibilityIsVisible">
    document.hidden == false &amp;&amp; document.visibilityState == "visible"
  </a>
</div>