<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testAddVisibilitychangeEvent">
    document.addEventListener("visibilitychange", cb)
  </a>
  <a class="performsTest item item-text-wrap" data-location="testPreloadVisibilityChange">
    preload + push a view listening to visibilitychange
  </a>
  <a class="performsTest item item-text-wrap" data-location="testPrerenderVisibilityIsHidden">
    preload a view (no push) and alert it's visibilitystate - should be hidden
  </a>
  <a class="performsTest item item-text-wrap" data-location="testInModal">
    open modal
  </a>
  <a class="performsTest item item-text-wrap" data-location="testCurrentVisibilityIsVisible">
    show current visibilitystate, should be: document.visibilityState == visible &amp; &amp; document.hidden == false
  </a>
</div>