<script>
  steroids.on("ready", function() {

    window.VisibilitychangeController.testAddVisibilitychangeEvent();

    document.querySelector("button#close").addEventListener("touchend", function() {
      steroids.modal.hide();
    });

    document.querySelector("button#current").addEventListener("touchend", function() {
      visibilityChanged();
    });

  });

</script>

<p>This view is listening to visibilitychanges and putting them into steroids.logger.log!</p>
<button id="current">See current visibilitystate</button>
<br/><br/>
<button id="close">Close modal</button>