<script>
  NavigationbarController.index();
</script>

<h1>navigationbar</h1>

<ul class="list">
  <li class="performsTest" data-test="testHideAnimated">
    hide(animated: true)
  </li>

  <li class="performsTest" data-test="testShowAnimated">
    show(animated: true)
  </li>
  <li class="performsTest" data-test="testHide">
    hide()
  </li>
  <li class="performsTest" data-test="testShow">
    show()
  </li>
  <li class="performsTest" data-test="testShowWithTitle">
    show() with text title
  </li>
  <li class="performsTest" data-test="testShowWithTitleImagePath">
    show() with titleImagePath
  </li>
  <li class="performsTest" data-test="testSetButtonsWithOneRightButton">
    setButtons() with one right button
  </li>
  <li class="performsTest" data-test="testSetButtonsWithManyButtons">
    setButtons() with many buttons with back button
  </li>
  <li class="performsTest" data-test="testSetButtonsWithManyButtonsWithoutBack">
    setButtons() with many buttons without back button
  </li>
  <li class="performsTest" data-test="testSetButtonsWithoutButtons">
    setButtons() with no buttons
  </li>
  <li class="performsTest" data-test="testUpdateTitle">
    update() with text title
  </li>
  <li class="performsTest" data-test="testUpdateTitleImage">
    update() with title image
  </li>
  <li class="performsTest" data-test="testUpdateWithButtons">
    update() with buttons
  </li>
  <li class="performsTest" data-test="testUpdateButtonsWithoutBackButton">
    update() buttons without back button
  </li>
  <li class="performsTest" data-test="testUpdateWithNoButtons">
    update() to no buttons
  </li>
  <li class="performsTest" data-test="testOverrideBackbuttonTrue">
    update() with overrideBackButton true
  </li>
  <li class="performsTest" data-test="testOverrideBackbuttonFalse">
    update() with overrideBackButton false
  </li>
  <li class="performsTest" data-test="testSetBackButtonTitle">
    custom back button with title
  </li>
  <li class="performsTest" data-test="testSetBackButtonImage">
    custom back button with image
  </li>
  <li class="performsTest" data-test="testSetAppearanceToRainbow">
    setAppearance() to rainbow
  </li>
</ul>
