<script>
  NavigationbarController.index();
</script>

<h1>navigationbar</h1>

<ul class="list">
  <li class="performsTest" data-test="testHide">
    hide()
  </li>
  <li class="performsTest" data-test="testShow">
    show()
  </li>
  <li class="performsTest" data-test="testShowWithTitle">
    show() with text title
  </li>
  <li class="performsTest" data-test="testShowWithTitleImagePath">
    show() with titleImagePath
  </li>
  <li class="performsTest" data-test="testSetButtonsWithOneRightButton">
    setButtons() with one right button
  </li>
  <li class="performsTest" data-test="testSetButtonsWithoutButtons">
    setButtons() with no buttons
  </li>
</ul>
