<script>
  NavigationbarController.index();
</script>

<h2>navigationbar</h2>

<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testHideAnimated">
    hide(animated: true)
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShowAnimated">
    show(animated: true)
  </a>
  <a class="performsTest item item-text-wrap" data-location="testHide">
    hide()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShow">
    show()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShowWithTitle">
    show() with text title
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShowWithTitleImagePath">
    show() with titleImagePath
  </a>
  <h3>Styling</h3>
  <a class="performsTest item item-text-wrap" data-location="testSetStyleId_navBarBig">
    testSetStyleId_navBarBig
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetStyleId_navBarSmall">
    testSetStyleId_navBarSmall
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRemoveStyleId">
    testRemoveStyleId
  </a>


  <a class="performsTest item item-text-wrap" data-location="testSetStyleCSS">
    testSetStyleCSS
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRemoveStyleCSS">
    testRemoveStyleCSS
  </a>


  <a class="performsTest item item-text-wrap" data-location="testAddStyleClass">
    testAddStyleClass
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetStyleClass">
    testSetStyleClass
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetNewStyleClass">
    testSetNewStyleClass
  </a>

  <a class="performsTest item item-text-wrap" data-location="testSetButtonsWithManyButtons">
    setButtons() with style
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushThisView">
    push this view
  </a>


  <h3>Update</h3>
  <a class="performsTest item item-text-wrap" data-location="testUpdateTitle">
    update() with text title
  </a>
  <a class="performsTest item item-text-wrap" data-location="testUpdateTitleImage">
    update() with title image
  </a>
  <a class="performsTest item item-text-wrap" data-location="testUpdateWithButtons">
    update() with buttons
  </a>

  <a class="performsTest item item-text-wrap" data-location="testUpdateButtonsWithoutBackButton">
    update() buttons without back button
  </a>
  <a class="performsTest item item-text-wrap" data-location="testUpdateWithNoButtons">
    update() to no buttons
  </a>
  <a class="performsTest item item-text-wrap" data-location="testOverrideBackbuttonTrue">
    update() with overrideBackButton true
  </a>
  <a class="performsTest item item-text-wrap" data-location="testOverrideBackbuttonFalse">
    update() with overrideBackButton false
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetBorderBlue">
    update() with blue border
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetBackButtonTitle">
    custom back button with title
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetBackButtonImage">
    custom back button with image
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetAppearanceToRainbow">
    setAppearance() to rainbow
  </a>
  <a class="performsTest item item-text-wrap" data-location="testButtonWithImageAsOriginal">
     Button With ImageAs Original
  </a>

<h3>navigationBar.tapButton</h3>
  <a class="performsTest item item-text-wrap" data-location="testTapButton_0">
    testTapButton index:0
  </a>

  <a class="performsTest item item-text-wrap" data-location="testTapButton_1">
    testTapButton index:1
  </a>

  <a class="performsTest item item-text-wrap" data-location="testTapButton_2">
    testTapButton index:2
  </a>

  <a class="performsTest item item-text-wrap" data-location="testTapButton_3">
    testTapButton index:3
  </a>

  <a class="performsTest item item-text-wrap" data-location="testTapButton_4">
    testTapButton index:4
  </a>

</div>

<h3>Legacy backwards compatibility tests:</h3>
<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testSetButtonsWithOneRightButton">
    setButtons() with one right button
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetButtonsWithManyButtons">
    setButtons() with many buttons with back button
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetButtonsWithManyButtonsWithoutBack">
    setButtons() with many buttons without back button
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetButtonsWithoutButtons">
    setButtons() with no buttons
  </a>
</div>
