<div class="list">

  <a class="performsTest item item-text-wrap" data-location="testPreloadedCommandCenter">
    testPreloadedCommandCenter()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPreloadedCommandCenter2">
    testPreloadedCommandCenter2() - preloaded views
  </a>

  <a class="performsTest item item-text-wrap" data-location="testShowNavBar">
    showNavBar()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushPop">
    push() + pop()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushPreloaded">
     Push Preloaded (pop.html)
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushAnimated">
    pushAnimated()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushHideNavBar">
    pushHideNavBar()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushHideTabBar">
    pushHideTabBar()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushAnimatedSlideFromLeftAndFade">
    pushAnimated(slideFromLeft) and pop with fade
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushAnimatedSlideFromLeftAndFadeFast">
    pushAnimated(slideFromLeft) and pop with fade FAST
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushAnimatedSlideFromLeftAndFadeFastAndSlow">
    pushAnimated(slideFromLeft) and pop with fade FAST and SLOW
  </a>

  <a class="performsTest item item-text-wrap" data-location="testKeepLoading">
    push(keepLoading=true) target removes loading
  </a>

  <a class="performsTest item item-text-wrap" data-location="testKeepLoadingWithPreloaded">
    push(preloaded, keepLoading=true) target removes loading
  </a>

  <a class="performsTest item item-text-wrap" data-location="testKeepLoadingThis">
    push(keepLoading=true) this document removes loading
  </a>

  <a class="performsTest item item-text-wrap" data-location="testReplace">
    replace(preloaded)
  </a>
  <a class="performsTest item item-text-wrap" data-location="testReplaceToRoot">
    replace() to initial index.html
  </a>

  <a class="performsTest item item-text-wrap" data-location="testReplaceViaPreloadedView">
    replace() via preloaded view
  </a>

  <a class="performsTest item item-text-wrap" data-location="testReplaceNonPreloaded">
    Test replace() (non-preloaded view) (should fail)
  </a>

  <a class="performsTest item item-text-wrap" data-location="testReplaceStep1">
    testReplace With WebView Already In The Layer (Step 1)
  </a>

  <a class="performsTest item item-text-wrap" data-location="testAlertViaPreloadedView">
    alert() via preloaded view
  </a>

  <h2>Events</h2>

  <a class="performsTest item item-text-wrap" data-location="testInvalidLayerEvents">
    testInvalidLayerEvents
  </a>

  <a class="performsTest item item-text-wrap" data-location="testwillchangeEvent">
    testwillchangeEvent
  </a>

  <a class="performsTest item item-text-wrap" data-location="testdidchangeEvent">
    testdidchangeEvent
  </a>

  <a class="performsTest item item-text-wrap" data-location="testRemoveAllEventHandlers">
    testRemoveAllEventHandlers
  </a>

  <a class="performsTest item item-text-wrap" data-location="testRemovedidchangeEvents">
    testRemovedidchangeEvents
  </a>

  <a class="performsTest item item-text-wrap" data-location="testRemovewillchangeEvents">
    testRemovewillchangeEvents
  </a>

</div>
