<ul class="list">
  <li class="performsTest" data-test="testPushPop">
    push() + pop()
  </li>

  <li class="performsTest" data-test="testPushAnimated">
    pushAnimated()
  </li>

  <li class="performsTest" data-test="testPushAnimatedSlideFromLeftAndFade">
    pushAnimated(slideFromLeft) and pop with fade
  </li>

  <li class="performsTest" data-test="testPushAnimatedSlideFromLeftAndFadeFast">
    pushAnimated(slideFromLeft) and pop with fade FAST
  </li>

  <li class="performsTest" data-test="testPushAnimatedSlideFromLeftAndFadeFastAndSlow">
    pushAnimated(slideFromLeft) and pop with fade FAST and SLOW
  </li>

  <li class="performsTest" data-test="testKeepLoading">
    push(keepLoading=true) target removes loading
  </li>

  <li class="performsTest" data-test="testKeepLoadingWithPreloaded">
    push(preloaded, keepLoading=true) target removes loading
  </li>


  <li class="performsTest" data-test="testKeepLoadingThis">
    push(keepLoading=true) this document removes loading
  </li>

</ul>
