<ul class="list">
  <li class="performsTest" data-test="testShowNavBar">
    showNavBar()
  </li>

  <li class="performsTest" data-test="testPushPop">
    push() + pop()
  </li>

  <li class="performsTest" data-test="testPushAnimated">
    pushAnimated()
  </li>

  <li class="performsTest" data-test="testPushHideNavBar">
    pushHideNavBar()
  </li>

  <li class="performsTest" data-test="testPushHideTabBar">
    pushHideTabBar()
  </li>

  <li class="performsTest" data-test="testPushAnimatedSlideFromLeftAndFade">
    pushAnimated(slideFromLeft) and pop with fade
  </li>

  <li class="performsTest" data-test="testPushAnimatedSlideFromLeftAndFadeFast">
    pushAnimated(slideFromLeft) and pop with fade FAST
  </li>

  <li class="performsTest" data-test="testPushAnimatedSlideFromLeftAndFadeFastAndSlow">
    pushAnimated(slideFromLeft) and pop with fade FAST and SLOW
  </li>

  <li class="performsTest" data-test="testKeepLoading">
    push(keepLoading=true) target removes loading
  </li>

  <li class="performsTest" data-test="testKeepLoadingWithPreloaded">
    push(preloaded, keepLoading=true) target removes loading
  </li>

  <li class="performsTest" data-test="testKeepLoadingThis">
    push(keepLoading=true) this document removes loading
  </li>

  <li class="performsTest" data-test="testReplace">
    replace(preloaded)
  </li>
  <li class="performsTest" data-test="testReplaceToRoot">
    replace() to initial index.html
  </li>

  <li class="performsTest" data-test="testReplaceViaPreloadedView">
    replace() via preloaded view
  </li>

  <li class="performsTest" data-test="testReplaceNonPreloaded">
    Test replace() (non-preloaded view) (should fail)
  </li>

  <li class="performsTest" data-test="testReplaceStep1">
    testReplace With WebView Already In The Layer (Step 1)
  </li>

  <li class="performsTest" data-test="testAlertViaPreloadedView">
    alert() via preloaded view
  </li>

  <h1>Events</h1>

  <li class="performsTest" data-test="testInvalidLayerEvents">
    testInvalidLayerEvents
  </li>

  <li class="performsTest" data-test="testwillchangeEvent">
    testwillchangeEvent
  </li>

  <li class="performsTest" data-test="testdidchangeEvent">
    testdidchangeEvent
  </li>

  <li class="performsTest" data-test="testRemoveAllEventHandlers">
    testRemoveAllEventHandlers
  </li>

  <li class="performsTest" data-test="testRemovedidchangeEvents">
    testRemovedidchangeEvents
  </li>

  <li class="performsTest" data-test="testRemovewillchangeEvents">
    testRemovewillchangeEvents
  </li>

</ul>
