.notification__wrap {
    display: table;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    background-color: rgba(0,0,0, 0.4);
}

.notification__wrap--hiding
{
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
}

.notification__wrap--hidden {
    display: none;
}

.notification__td {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.notification {
    background-color: rgba(255,255,255, 0.9);
    min-height: 4em;
    padding: 1.5em;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    border: rgba(0,0,0, 0.25) 1px solid;
    border-radius: 1em;
    margin-top: -1em;
}
