<div class="list">

  <a class="performsTest item item-text-wrap" data-location="testMapViewFullParams">
    Map View - Full Parameters
  </a>

  <a class="performsTest item item-text-wrap" data-location="testMapViewAsModal">
    Sattelite Map View as Modal
  </a>

  <a class="performsTest item item-text-wrap" data-location="testMapViewHybvridWithOverlay">
   Hybrid Map witgh Overlay
  </a>

  <a class="performsTest item item-text-wrap" data-location="testOverlayPage">
   Push Overlay Page
  </a>

  <a class="performsTest item item-text-wrap" data-location="testMapViewCenterUserLocation">
   testMapViewCenterUserLocation
  </a>

</div>
