<script>
function openSpec(specName) {
  view = new steroids.views.WebView("/views/tests/"+specName+".html");
  steroids.layers.push(view);
}

steroids.navigationBar.show("Steroids Automated Tests");
</script>

<button class="button button-block button-balanced" onClick="openSpec('all')">
  All non-legacy tests
</button>

<button class="button button-block" onClick="openSpec('animations')">
  Animations
</button>

<button class="button button-block" onClick="openSpec('device')">
  Device
</button>

<button class="button button-block" onClick="openSpec('layers')">
  Layers
</button>

<button class="button button-block" onClick="openSpec('rotations')">
  Rotations
</button>

<button class="button button-block" onClick="openSpec('splashscreen')">
  Splashscreen
</button>

<button class="button button-block" onClick="openSpec('visibilitychange')">
  visibilitychange
</button>

<br/>
<center><h3 style="font-color:grey;">Legacy Tests</h3></center>

<button class="button button-block button-light" onClick="openSpec('analytics')">
  Analytics
</button>
