<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <title>New Application</title>

  <link rel="stylesheet" href="../../stylesheets/application.css" />
  <link rel="stylesheet" href="../../stylesheets/ratchet-fixed.css" />

  <script>
    window.onerror = function(a,b,c){ alert(a+" "+b+" "+c); }
  </script>

  <script>
    function capitaliseFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }

    STEROIDS = {};
    STEROIDS.controllerName = capitaliseFirstLetter("<%= yield.controller %>") + "Controller";
  </script>


  <script src="http://localhost/cordova.js"></script>

  <script src="../../javascripts/rotations.js"></script>
  <script src="../../javascripts/steroids.js"></script>

  <script src="../../javascripts/jquery.min.js"></script>

  <script src="../../javascripts/hammer.js"></script>
  <script src="../../javascripts/jquery.hammer.js"></script>



  <script src="../../controllers/application.js"></script>

  <script src="../../controllers/<%= yield.controller %>.js"></script>

</head>
<body>
  <div class="content">
      <div class="content-padded">
        <%= yield.view %>

      </div>
  </div>
</body>
</html>
