<ul class="list">

  <li class="performsTest" data-test="testSetBackgroundCACCAA">
    set background CACCAA
  </li>

  <li class="performsTest" data-test="testSetBackgroundBlack">
    set background black
  </li>

  <li class="performsTest" data-test="testSetBackgroundWhite">
    set background white
  </li>
  
  <li class="performsTest" data-test="testSetBackgroundImage">
    Set Background Image -> Space
  </li>
  
  <li class="performsTest" data-test="testSetBackgroundImageMontain">
    Set Background Image -> Montain
  </li>
  
  
</ul>
