<ul class="list">

  <li class="opensLayer" data-location="/views/webview/orientation.html">
    orientation
    <span class="chevron"></span>
  </li>

  <li class="performsTest" data-test="testOnSuccessWithOpen">
    open should trigger onsuccess
  </li>

  <li class="opensLayer" data-location="/views/navigationbar/index.html">
    navigationBar
    <span class="chevron"/>
  </li>


  <li class="opensLayer" data-location="/views/webview/popAll.html">
    open one more to popAll
    <span class="chevron"/>
  </li>


  <li class="performsTest" data-test="testOpenWithoutNavigationBar">
    open without navigation bar
  </li>

  <li class="performsTest" data-test="testOpenWithoutTabBar">
    open without tab bar
  </li>

  <li class="performsTest" data-test="testOpenWithCurlUp">
    open with curlUp animation
  </li>

  <li class="performsTest" data-test="testPreload">
    preload layer with id "myPreloaded"
  </li>

  <li class="performsTest" data-test="testUnload">
    unload layer with id "myPreloaded"
  </li>

  <li class="performsTest" data-test="testPreloadAndOpen">
    preload + open
  </li>

  <li class="performsTest" data-test="testPreloadThisAndOpen">
    preload this page and push this page
  </li>

  <li class="performsTest" data-test="testOpenThis">
    push this page
  </li>

  <li class="opensLayer" data-location="/views/webview/params.html">
    params
    <span class="chevron"></span>
  </li>

  <li class="opensLayer" data-location="/views/webview/background.html">
    background
    <span class="chevron"></span>
  </li>
  
  <li class="performsTest" data-test="testDisplayLoading">
    displayLoading
    <span class="chevron"></span>
  </li>
</ul>
