<div class="list">

  <a class="performsTest item item-text-wrap" data-location="testOnSuccessWithOpen">
    open should trigger onsuccess
  </a>

  <a class="opensLayer item item-text-wrap" data-location="/views/webview/popAll.html">
    open one more to popAll

  </a>

  <a class="performsTest item item-text-wrap" data-location="testOpenWithoutNavigationBar">
    open without navigation bar
  </a>

  <a class="performsTest item item-text-wrap" data-location="testOpenWithoutTabBar">
    open without tab bar
  </a>

  <a class="performsTest item item-text-wrap" data-location="testOpenWithCurlUp">
    open with curlUp animation
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPreload">
    preload layer with id "myPreloaded"
  </a>

  <a class="performsTest item item-text-wrap" data-location="testUnload">
    unload layer with id "myPreloaded"
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPreloadAndPushFromPreloaded">
    preload + push from preloaded (while out of the stack)
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPreloadAndOpen">
    preload + open
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPreloadThisAndOpen">
    preload this page and push this page
  </a>

  <a class="performsTest item item-text-wrap" data-location="testOpenThis">
    push this page
  </a>

  <a class="opensLayer item item-text-wrap" data-location="/views/webview/params.html">
    params
    <span class="chevron"></span>
  </a>

  <a class="opensLayer item item-text-wrap" data-location="/views/webview/background.html">
    background
    <span class="chevron"></span>
  </a>

  <a class="performsTest item item-text-wrap" data-location="testDisplayLoading">
    displayLoading
  </a>

  <a class="performsTest item item-text-wrap" data-location="testDisplayLoadingWithAnimation">
    testDisplayLoadingWithAnimation
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPreloadViaArray">
    Open layer that was preloaded via preloads array
    <span class="chevron"></span>
  </a>

  <h2>Events</h2>
  <a class="performsTest item item-text-wrap" data-location="testCreatedEvent">
    testCreatedEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testPreloadedEvent">
    testPreloadedEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testUnloadedEvent">
    testUnloadedEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testOffAllEvents">
    testOffAllEvents
  </a>

</div>
