<ul class="list">

  <li class="performsTest" data-test="testOnSuccessWithOpen">
    open should trigger onsuccess
  </li>

  <li class="opensLayer" data-location="/views/navigationbar/index.html">
    navigationBar
    <span class="chevron"/>
  </li>

  <li class="performsTest" data-test="testOpenWithoutNavigationBar">
    open without navigation bar
  </li>

  <li class="performsTest" data-test="testPreload">
    preload
  </li>
  <li class="performsTest" data-test="testPreloadAndOpen">
    preload + open
  </li>

  <li class="opensLayer" data-location="/views/webview/params.html">
    params
    <span class="chevron"></span>
  </li>

</ul>
