<h1>Note: device must not rotate by default!</h1>

<ul class="list">

  <li class="performsTest" data-test="testDisableRotate">
    steroids.view.setAllowedRotations([])
  </li>


  <li class="performsTest" data-test="testEnableRotate90">
    steroids.view.setAllowedRotations([90])
  </li>

  <li class="performsTest" data-test="testEnableRotateAll">
    steroids.view.setAllowedRotations([90, -90, 0, 180])
  </li>

  <li class="performsTest" data-test="testEnableRotateHorizontal">
    steroids.view.setAllowedRotations([90, -90])
  </li>

  <li class="performsTest" data-test="testEnableRotateVertical">
    steroids.view.setAllowedRotations([0, 180])
  </li>



</ul>
