<script>
  TabbarController.index();
</script>

<h1>tabbar</h1>

<ul class="list">
  <li class="performsTest" data-test="testHide">
    hide()
  </li>
  <li class="performsTest" data-test="testShow">
    show()
  </li>
  <li class="performsTest" data-test="testUpdate">
    update()
  </li>

  <li class="performsTest" data-test="testUpdateTop">
    update position to top
  </li>
  <li class="performsTest" data-test="testUpdateBottom">
    update position to bottom
  </li>

  <li class="performsTest" data-test="testUpdateTab">
    currentTab.update()
  </li>
  <li class="performsTest" data-test="testSelectTab">
    selectTab(1)
  </li>
  <li class="performsTest" data-test="resetBadges">
    Reset badges
  </li>

  <h1>Events</h1>

  <li class="performsTest" data-test="testwillchangeEvent">
    testwillchangeEvent
  </li>
  <li class="performsTest" data-test="testdidchangeEvent">
    testdidchangeEvent
  </li>
  <li class="performsTest" data-test="testRemoveAllEventHandlers">
    testRemoveAllEventHandlers
  </li>
  <li class="performsTest" data-test="testRemoveDidChangeEvents">
    testRemoveDidChangeEvents
  </li>
  <li class="performsTest" data-test="testRemoveWillChangeEvents">
    testRemoveWillChangeEvents
  </li>

  <h1>Replace Tabs</h1>
  <li class="performsTest" data-test="testReplaceTabsInvertedOrder">
    testReplaceTabsInverted
  </li>
  <li class="performsTest" data-test="testReplaceTabsOriginalOrder">
    testReplaceTabsOriginal
  </li>
  <li class="performsTest" data-test="testReplaceTabsNoParams">
    testReplaceTabsNoParams
  </li>
  <li class="performsTest" data-test="testRepeatReplaceTabs">
    Start Replace tabs repeating test
  </li>
</ul>
