<script>
  TabbarController.index();
</script>

<h1>tabbar</h1>

<ul class="list">
  <li class="performsTest" data-test="testHide">
    hide()
  </li>
  <li class="performsTest" data-test="testShow">
    show()
  </li>
  <li class="performsTest" data-test="testUpdate">
    update()
  </li>
  <li class="performsTest" data-test="testUpdateTab">
    currentTab.update()
  </li>
  <li class="performsTest" data-test="testSelectTab">
    selectTab(1)
  </li>
  <li class="performsTest" data-test="resetBadges">
    Reset badges
  </li>
</ul>