<script>
  TabbarController.index();
</script>

<h2>tabbar</h2>

<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testHide">
    hide()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShow">
    show()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testUpdate">
    update()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testUpdateTab">
    currentTab.update()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSelectTab">
    selectTab(1)
  </a>
  <a class="performsTest item item-text-wrap" data-location="resetBadges">
    Reset badges
  </a>

  <h3>Styling</h3>
  <a class="performsTest item item-text-wrap" data-location="testSetStyleId_myLittleTab">
    testSetStyleId_myLittleTab
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRemoveStyleId">
    testRemoveStyleId
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetStyleClass_tabGray">
    testSetStyleClass_tabGray
  </a>
  <a class="performsTest item item-text-wrap" data-location="testSetStyleCSS">
    testSetStyleCSS (some crazy border)
  </a>

  <a class="performsTest item item-text-wrap" data-location="testUpdateTabItemsWithStyle">
    testUpdateTabItemsWithStyle
  </a>

  <h2>Replace Tabs</h2>
  <a class="performsTest item item-text-wrap" data-location="testReplaceTabsInvertedOrder">
    testReplaceTabsInverted
  </a>
  <a class="performsTest item item-text-wrap" data-location="testReplaceTabsOriginalOrder">
    testReplaceTabsOriginal
  </a>
  <a class="performsTest item item-text-wrap" data-location="testReplaceTabsNoParams">
    testReplaceTabsNoParams
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRepeatReplaceTabs">
    Start Replace tabs repeating test
  </a>

  <h2>Events</h2>

  <a class="performsTest item item-text-wrap" data-location="testwillchangeEvent">
    testwillchangeEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testdidchangeEvent">
    testdidchangeEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRemoveAllEventHandlers">
    testRemoveAllEventHandlers
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRemoveDidChangeEvents">
    testRemoveDidChangeEvents
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRemoveWillChangeEvents">
    testRemoveWillChangeEvents
  </a>

  <h2>Android-only secret API's</h2>

  <a class="performsTest item item-text-wrap" data-location="testUpdateTop">
    update position to top
  </a>
  <a class="performsTest item item-text-wrap" data-location="testUpdateBottom">
    update position to bottom
  </a>

</div>
