<div class="list">

  <a class="performsTest item item-text-wrap" data-location="testDismissInitialView">
    testDismissInitialView
  </a>

  <a class="performsTest item item-text-wrap" data-location="testResetAppToInitialView">
    testResetAppToInitialView
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushPreloadedView">
    testPushPreloadedView
  </a>

  <a class="performsTest item item-text-wrap" data-location="testPushNewWebView">
    testPushNewWebView
  </a>

  <a class="performsTest item item-text-wrap" data-location="testListenMessages">
    test listening to postMessages in init view and pushing a preloaded layer when receive
  </a>

</div>
