<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testPing">
    ping()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testGetIPAddress">
    getIPAddress()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testEnableSleep">
    enableSleep()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testDisableSleep">
    disableSleep()
  </a>
  <a class="opensLayer item item-text-wrap" data-location="views/device/torch.html">
    torch
    
  </a>
  <a class="opensLayer item item-text-wrap" data-location="views/device/platform.html">
    platform
    
  </a>
</div>
