<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testShow">
    show({view: webview})
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShowDisableAnimation">
    show(disableAnimation: true})
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShowPreloadedOnce">
    show(preloaded) - once
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShowPreloadedKeepLoading">
    show(preloaded, keepLoading=true) and remove in 3 secs
  </a>

  <a class="performsTest item item-text-wrap" data-location="testShowPreloaded">
    show(preloaded) - multiple times
  </a>


  <a class="performsTest item item-text-wrap" data-location="testShowModalWithNavBar">
    Modal show/hide Nav Bar
  </a>

  <a class="performsTest item item-text-wrap" data-location="testShowWithNavBar">
    Show Modal with navbar -> navigationBar:true
  </a>


  <a class="performsTest item item-text-wrap" data-location="testHideAll">
    Hide All
  </a>

  <h2>Orientation</h2>
  <a class="performsTest item item-text-wrap" data-location="testModalInLandscape">
    Modal in Landscape
  </a>

  <a class="performsTest item item-text-wrap" data-location="testModalInPortrait">
    Modal in Portrait
  </a>

  <h2>Events</h2>
  <a class="performsTest item item-text-wrap" data-location="testWillShowChangeEvent">
    testWillShowChangeEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testDidShowChangeEvent">
    testDidShowChangeEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testWillCloseChangeEvent">
    testWillCloseChangeEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testDidCloseChangeEvent">
    testDidCloseChangeEvent
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRemoveShowEvents">
    testRemoveShowEvents
  </a>
  <a class="performsTest item item-text-wrap" data-location="testRemoveCloseEvents">
    testRemoveCloseEvents
  </a>
</div>
