<ul class="list">
  <li class="performsTest" data-test="testShow">
    show({view: webview})
  </li>
  <li class="performsTest" data-test="testShowDisableAnimation">
    show(disableAnimation: true})
  </li>
  <li class="performsTest" data-test="testShowPreloaded">
    show(preloaded)
  </li>
  <li class="performsTest" data-test="testShowPreloadedKeepLoading">
    show(preloaded, keepLoading=true) and remove in 3 secs
  </li>

  <li class="performsTest" data-test="testShowModalWithNavBar">
    Modal show/hide Nav Bar
  </li>

  <li class="performsTest" data-test="testShowWithNavBar">
    Show Modal with navbar -> navigationBar:true
  </li>


  <li class="performsTest" data-test="testHideAll">
    Hide All
  </li>

  <h1>Orientation</h1>
  <li class="performsTest" data-test="testModalInLandscape">
    Modal in Landscape
  </li>

  <li class="performsTest" data-test="testModalInPortrait">
    Modal in Portrait
  </li>

  <h1>Events</h1>
  <li class="performsTest" data-test="testWillShowChangeEvent">
    testWillShowChangeEvent
  </li>
  <li class="performsTest" data-test="testDidShowChangeEvent">
    testDidShowChangeEvent
  </li>
  <li class="performsTest" data-test="testWillCloseChangeEvent">
    testWillCloseChangeEvent
  </li>
  <li class="performsTest" data-test="testDidCloseChangeEvent">
    testDidCloseChangeEvent
  </li>
  <li class="performsTest" data-test="testRemoveShowEvents">
    testRemoveShowEvents
  </li>
  <li class="performsTest" data-test="testRemoveCloseEvents">
    testRemoveCloseEvents
  </li>
</ul>
