<ul class="list">
  <li class="performsTest" data-test="testDisplayNavigationBar">
    Display Navigation Bar
  </li>

  <li class="performsTest" data-test="testSetAppearanceToRainbow">
     Set Appearance To Rainbow
  </li>

  <li class="performsTest" data-test="testUpdateNavBar">
     Update Nav bar
  </li>

  <li class="performsTest" data-test="testGetApplicationState">
     Get Application State (tabs, drawers, preloaded...)
  </li>

  <li class="performsTest" data-test="testHideNavigationBar">
    Hide Navigation Bar
  </li>

  <li class="performsTest" data-test="testHide">
    Hide Modal
  </li>

</ul>
