<h2>I'm in Landscape</h2>

<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testHide">
    hide()
  </a>
 <a class="performsTest item item-text-wrap" data-location="testHideDisableAnimation">
    hide({disableAnimation: true})
  </a>

  <a class="performsTest item item-text-wrap" data-location="testOpenAnotherModal">
    Open Another Modal
  </a>

  <a class="performsTest item item-text-wrap" data-location="testAllowAllOrientations">
    Allow all orientations
  </a>

  <a class="performsTest item item-text-wrap" data-location="testAllowOnlyPortrait">
    Allow only portrait orientation
  </a>
</div>