<h1>I'm in Landscape</h1>

<ul class="list">
  <li class="performsTest" data-test="testHide">
    hide()
  </li>
 <li class="performsTest" data-test="testHideDisableAnimation">
    hide({disableAnimation: true})
  </li>

  <li class="performsTest" data-test="testOpenAnotherModal">
    Open Another Modal
  </li>

  <li class="performsTest" data-test="testAllowAllOrientations">
    Allow all orientations
  </li>

  <li class="performsTest" data-test="testAllowOnlyPortrait">
    Allow only portrait orientation
  </li>
</ul>