<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testDisplayNavigationBar">
    Display Navigation Bar
  </a>

  <a class="performsTest item item-text-wrap" data-location="testSetAppearanceToRainbow">
     Set Appearance To Rainbow
  </a>

  <a class="performsTest item item-text-wrap" data-location="testUpdateNavBar">
     Update Nav bar
  </a>

  <a class="performsTest item item-text-wrap" data-location="testGetApplicationState">
     Get Application State (tabs, drawers, preloaded...)
  </a>

  <a class="performsTest item item-text-wrap" data-location="testHideNavigationBar">
    Hide Navigation Bar
  </a>

  <a class="performsTest item item-text-wrap" data-location="testHide">
    Hide Modal
  </a>

</div>
