<script>
  LoggerController.index();
</script>

<h2>logger</h2>

<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testLog">
    steroids.logger.log("hello")
  </a>
  <a class="performsTest item item-text-wrap" data-location="testException">
    test onerror testException()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShowLastMessage">
    show last message
  </a>
  <a class="performsTest item item-text-wrap" data-location="testStopFlushing">
    steroids.logger.queue.stopFlushing()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testStartFlushing">
    steroids.logger.queue.startFlushing(100)
  </a>

  <a class="performsTest item item-text-wrap" data-location="testCircularObject">
    steroids.logger.log(circularObj)
  </a>

</div>
