<script>
  LoggerController.index();
</script>

<h1>logger</h1>

<ul class="list">
  <li class="performsTest" data-test="testLog">
    steroids.logger.log("hello")
  </li>
  <li class="performsTest" data-test="testException">
    test onerror testException()
  </li>
  <li class="performsTest" data-test="testShowLastMessage">
    show last message
  </li>
  <li class="performsTest" data-test="testStopFlushing">
    steroids.logger.queue.stopFlushing()
  </li>
  <li class="performsTest" data-test="testStartFlushing">
    steroids.logger.queue.startFlushing(100)
  </li>

  <li class="performsTest" data-test="testCircularObject">
    steroids.logger.log(circularObj)
  </li>

</ul>
