<div class="list">

  <a class="opensLayer item item-text-wrap" data-location="views/webview/index.html">
    webview
    
  </a>
  <a class="opensLayer item item-text-wrap" data-location="views/previewfileview/index.html">
    previewfileview
    
  </a>
  
  <a class="opensLayer item item-text-wrap" data-location="views/mapview/index.html">
    mapview
    
  </a>

  <a class="openViewWithParameters" data-url="/views/views/params.html?jesse=awesome">
    open view with parameters with params in url
    
  </a>

  <a class="openViewWithParameters" data-url="/views/views/params.html">
    open view with parameters without params in url
    
  </a>


</div>
