<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>

<script>

window.setTimeout(function() {
  window.location.href = "http://@@ipAddress:1111"
}, 1000);


</script>

  <p>Connecting to the buster server at http://@@ipAddress:1111 ...</p>

  <h1>Should be connected by now, check wlan etc</h1>

</body>
</html>
