<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Steroids automated test runner</title>

  <link rel="stylesheet" href="../../components/ionic/css/ionic.css" />

  <script src="http://localhost/cordova.js"></script>

  <script src="../../components/steroids-js/steroids.js"></script>

</head>
<body class="content">

  <div class="padding">
    <%= yield.view %>
  </div>

</body>
</html>
