<script>
  ScreenController.index();
</script>

<h1 onclick="navigator.notification.alert('Touched h1')">Screen</h1>

<ul class="list">

  <li class="opensLayer" data-location="/views/rotations/index.html">
    Rotations
    <span class="chevron"/>
  </li>

  <li class="performsTest" data-test="testFreeze">
    steroids.screen.freeze() + steroids.screen.unfreeze()
  </li>

  <li class="performsTest" data-test="testCapture">
    steroids.screen.capture(filename)
  </li>

  <li class="performsTest" data-test="testDismissNextAlert_with_index_0">
    steroids.screen.dismissNextAlert({buttonIndex: 0})
  </li>

  <li class="performsTest" data-test="testDismissNextAlert_with_index_10">
    steroids.screen.dismissNextAlert({buttonIndex: 10}) (should fail)
  </li>

  <li class="performsTest" data-test="testTap">
    steroids.screen.tap({x: 30, y: 70}) (should tap h1 screen)<br>
    broken since iOS 7.1
  </li>

</ul>

<div id="captureResult"></div>
