<script>
  ScreenController.index();
</script>

<h1 onclick="navigator.notification.alert('touched')">screen</h1>

<ul class="list">
  <li class="performsTest" data-test="testFreeze">
    steroids.screen.freeze() + steroids.screen.unfreeze()
  </li>

  <li class="performsTest" data-test="testCapture">
    steroids.screen.capture(filename)
  </li>

  <li class="performsTest" data-test="testTap">
    steroids.screen.tap({x: 30, y: 70}) (should tap h1 screen)
  </li>

</ul>

<div id="captureResult"></div>
