<script>
  ScreenController.index();
</script>

<h2 onclick="navigator.notification.alert('Touched h1')">Screen</h2>

<div class="list">

  <a class="opensLayer item item-text-wrap" data-location="/views/rotations/index.html">
    Rotations

  </a>

  <a class="performsTest item item-text-wrap" data-location="testFreeze">
    steroids.screen.freeze() + steroids.screen.unfreeze()
  </a>



  <a class="performsTest item item-text-wrap" data-location="testCapturePNG">
    steroids.screen.capture({output:"png"})
  </a>

  <a class="performsTest item item-text-wrap" data-location="testCapture">
    steroids.screen.capture()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testDismissNextAlert_with_index_0">
    steroids.screen.dismissNextAlert({buttonIndex: 0})
  </a>

  <a class="performsTest item item-text-wrap" data-location="testDismissNextAlert_with_10">
    steroids.screen.dismissNextAlert({buttonIndex: 10})
  </a>

  <a class="performsTest item item-text-wrap" data-location="testTap">
    steroids.screen.tap({x: 30, y: 70}) (should tap h1 screen)<br>
    broken since iOS 7.1
  </a>

</div>

<div id="captureResult"></div>
