<script>
  StatusbarController.index();
</script>

<h2>statusbar</h2>

<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testHide">
    hide()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShow">
    show()
  </a>
  <a class="performsTest item item-text-wrap" data-location="testShowLight">
    show() light
  </a>
  <a class="performsTest item item-text-wrap" data-location="testOnTap">
    setup onTap to display alert
  </a>


<h2>navbar</h2>
<a class="performsTest item item-text-wrap" data-location="testShowNavBarAnimated">
    testShowNavBarAnimated
  </a>
  <a class="performsTest item item-text-wrap" data-location="testHideNavBarAnimated">
    testHideNavBarAnimated
  </a>
  
</div>
