<h2>animation</h2>

<div class="list">
  <a class="performsTest item item-text-wrap" data-location="testCurlUpFast">
    perform fast curlUp
  </a>
  <a class="performsTest item item-text-wrap" data-location="testCurlUp">
    perform curlUp
  </a>
  <a class="performsTest item item-text-wrap" data-location="testCurlDown">
    perform curlDown
  </a>

  <a class="performsTest item item-text-wrap" data-location="testFlipVerticalFromBottom">
    perform flipVerticalFromBottom
  </a>

  <a class="performsTest item item-text-wrap" data-location="testFlipFromTop">
    perform testFlipFromTop
  </a>

  <a class="performsTest item item-text-wrap" data-location="testFlipFromRight">
    perform testFlipFromRight
  </a>

  <a class="performsTest item item-text-wrap" data-location="testFlipFromLeft">
    perform testFlipFromLeft
  </a>

  <a class="performsTest item item-text-wrap" data-location="testSlideFromLeft">
    perform slideFromLeft
  </a>

  <a class="performsTest item item-text-wrap" data-location="testSlideFromRight">
    perform SlideFromRight
  </a>

  <a class="performsTest item item-text-wrap" data-location="testSlideFromTop">
    perform SlideFrom Top
  </a>

  <a class="performsTest item item-text-wrap" data-location="testSlideFromBottom">
    perform SlideFrom Bottom
  </a>

  <a class="performsTest item item-text-wrap" data-location="testDontPerformWhenOrientationNot0">
    Don't perform animations when device orientation is not 0
  </a>

  <a class="performsTest item item-text-wrap" data-location="testMoreCallBacks">
    more callbacks
  </a>

</div>
