<h1>animation</h1>

<ul class="list">
  <li class="performsTest" data-test="testCurlUpFast">
    perform fast curlUp
  </li>
  <li class="performsTest" data-test="testCurlUp">
    perform curlUp
  </li>
  <li class="performsTest" data-test="testCurlDown">
    perform curlDown
  </li>

  <li class="performsTest" data-test="testFlipVerticalFromBottom">
    perform flipVerticalFromBottom
  </li>

  <h2>Not working when rotated</h2>

  <li class="performsTest" data-test="testSlideFromLeft">
    perform slideFromLeft
  </li>
  
  <li class="performsTest" data-test="testSlideFromRight">
    perform SlideFromRight
  </li>
  
  <li class="performsTest" data-test="testSlideFromTop">
    perform SlideFrom Top
  </li>
  
  <li class="performsTest" data-test="testSlideFromBottom">
    perform SlideFrom Bottom
  </li>
  
  <li class="performsTest" data-test="testDontPerformWhenOrientationNot0">
    Don't perform animations when device orientation is not 0
  </li>
  
  <li class="performsTest" data-test="testMoreCallBacks">
    more callbacks
  </li>
  
</ul>
