<div class="list">
  <h3>Styling</h3>
  <a class="performsTest item item-text-wrap" data-location="testLoadTheme_default">
    testLoadTheme_default
  </a>
  <a class="performsTest item item-text-wrap" data-location="testLoadTheme_green">
    testLoadTheme_green
  </a>
  <a class="performsTest item item-text-wrap" data-location="testLoadTheme_red">
    testLoadTheme_red
  </a>


  <a class="opensLayer item item-text-wrap" data-location="views/app/host.html">
    host
    
  </a>

  <a class="opensLayer item item-text-wrap" data-location="views/app/path.html">
    path
    
  </a>

  <a class="performsTest item item-text-wrap" data-location="testGetLaunchURL">
    steroids.app.getLaunchURL()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testGetNSUserDefaults">
    steroids.app.getNSUserDefaults()
  </a>


  <a class="performsTest item item-text-wrap" data-location="testGetMode">
    steroids.app.getMode()
  </a>

  <a class="performsTest item item-text-wrap" data-location="testOpenSteroidsScannerURL">
    steroids.openURL("steroids-scanner://base/path?first=1&second=2")
  </a>

  <a class="performsTest item item-text-wrap" data-location="testOpenGoogleURL">
    steroids.openURL("http://www.google.com")
  </a>

  <a class="performsTest item item-text-wrap" data-location="testAddEventListenerForResumeAndAlertGetLaunchURL">
    document.addEventListener("resume") and alert steroids.app.getLaunchURL() there.
  </a>

</div>
