<ul class="list">
  <li class="opensLayer" data-location="views/app/host.html">
    host
    <span class="chevron"/>
  </li>

  <li class="opensLayer" data-location="views/app/path.html">
    path
    <span class="chevron"/>
  </li>

  <li class="performsTest" data-test="testGetLaunchURL">
    steroids.app.getLaunchURL()
  </li>

  <li class="performsTest" data-test="testGetNSUserDefaults">
    steroids.app.getNSUserDefaults()
  </li>


  <li class="performsTest" data-test="testGetMode">
    steroids.app.getMode()
  </li>

  <li class="performsTest" data-test="testOpenSteroidsScannerURL">
    steroids.openURL("steroids-scanner://base/path?first=1&second=2")
  </li>

  <li class="performsTest" data-test="testOpenGoogleURL">
    steroids.openURL("http://www.google.com")
  </li>

  <li class="performsTest" data-test="testAddEventListenerForResumeAndAlertGetLaunchURL">
    document.addEventListener("resume") and alert steroids.app.getLaunchURL() there.
  </li>

</ul>
