<?xml version='1.0' encoding='utf-8'?>
<widget id="com.appgyver.helloSteroids" version="3.1.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hello Steroids</name>
    <description>
        A fresh new Steroids application.
    </description>
    <author email="contact@appgyver.com" href="http://www.appgyver.com/steroids">
        AppGyver Steroids Team
    </author>
    <access origin="*" />

</widget>