<form>
<h2>Input Test</h2>
Text Field: <input type="text" style="-webkit-user-select:auto;" />

Number Field: <input type="number" style="-webkit-user-select:auto;" />

</form>

<div class="list">

  <a class="performsTest item item-text-wrap" data-location="testDisableKeyboardAccessory">
    Disable Keyboard Accessory Bar
  </a>

  <a class="performsTest item item-text-wrap" data-location="testEnableKeyboardAccessory">
    Enable Keyboard Accessory Bar
  </a>

  <a class="performsTest item item-text-wrap" data-location="testKeyboardAccessoryWithEmptyParams">
    Keyboard Accessory Bar with Empty parameters
  </a>
</div>

<h2>Android only:</h2>

<div class="list">

  <a class="performsTest item item-text-wrap" data-location="testActionButtonPressed">
    testActionButtonPressed
  </a>

  <a class="performsTest item item-text-wrap" data-location="testRemoveEventHandlerWithHandlerId">
    testRemoveEventHandler With HandlerId
  </a>

  <a class="performsTest item item-text-wrap" data-location="testRemoveEventHandlerByEventname">
    testRemoveEventHandler By Eventname
  </a>
</div>