
<h2>Input Test</h2>
<label class="item item-input">
  <span class="input-label">Text input</span>
  <input type="text">
</label>

<label class="item item-input">
  <span class="input-label">Number input</span>
  <input type="number">
</label>

<p>Also test the input down below pls v</p>

<div class="list">

  <a class="performsTest item item-text-wrap" data-location="testDisableKeyboardAccessory">
    Disable Keyboard Accessory Bar
  </a>

  <a class="performsTest item item-text-wrap" data-location="testEnableKeyboardAccessory">
    Enable Keyboard Accessory Bar
  </a>

  <a class="performsTest item item-text-wrap" data-location="testKeyboardAccessoryWithEmptyParams">
    Keyboard Accessory Bar with Empty parameters
  </a>
</div>

<h2>Android only:</h2>

<div class="list">

  <a class="performsTest item item-text-wrap" data-location="testActionButtonPressed">
    testActionButtonPressed
  </a>

  <a class="performsTest item item-text-wrap" data-location="testRemoveEventHandlerWithHandlerId">
    testRemoveEventHandler With HandlerId
  </a>

  <a class="performsTest item item-text-wrap" data-location="testRemoveEventHandlerByEventname">
    testRemoveEventHandler By Eventname
  </a>
</div>

<label class="item item-input">
  <span class="input-label">Text input</span>
  <input type="text">
</label>