<form>
<h2>Input Test</h2>
Text Field: <input type="text" style="-webkit-user-select:auto;" />

Number Field: <input type="number" style="-webkit-user-select:auto;" />

</form>

<ul class="list">
  <li class="performsTest" data-test="testActionButtonPressed">
    testActionButtonPressed
  </li>

  <li class="performsTest" data-test="testRemoveEventHandlerWithHandlerId">
    testRemoveEventHandler With HandlerId
  </li>

  <li class="performsTest" data-test="testRemoveEventHandlerByEventname">
    testRemoveEventHandler By Eventname
  </li>
</ul>